.App {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue","Ubuntu";
  background-color: #1a1f36;
}
.logo{
  color: #d6ecff;
  font-size:1.7rem;
  margin-left: .1rem;
  padding-left: 14px;
  padding-top: 10px;

}
.navigator{
  color: #a3acb9;
  overflow: hidden;
  z-index: inherit;
  border-right: #a3acb9 1px solid;
  
}
.navigator a {
  padding: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.navigator .active {
  background-color: #2a2f45;
  color: #6c8eef !important;
}
.navigator .title {
  font-size: .8rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  padding: 10px;
}
.navigator .title:hover {
  background-color: #2a2f46;
}
.blue{
  color: #6c8eef;
  font-size: 1rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
